@model Actors.Data.Actor

@{
    ViewBag.Title = "ActorDisplay";
}

<h2>Actor Display</h2>

<hr />

@using (Html.BeginForm())
{
    @Html.DropDownList("name")
    <input  class="btn btn-default" type="submit" name="name" value="Display Actor Info" />

}

@if (Model != null)
{
<div>
    
    <dl class="jumbotron">

        <div class="row">
            <div class="col-sm-6">
                <dd>
                    <img class="img-responsive" src=@Url.Content(Model.ImagePath) alt="Alternate Text" />
                </dd>
            </div>
            <div class="col-sm-6">
                <h2>
                    @Html.DisplayFor(model => model.Name)
                </h2>
                <p>
                    @Html.DisplayFor(model => model.DOB)
                </p>
                <h2>
                    Favourite Movies
                </h2>
                <p>
                    @foreach (var movie in Model.Movies)
                    {
                        <p>@movie.Name</p>
                    }
                    
                </p>
            </div>
        </div>

    </dl>

</div>

using (Html.BeginForm("AddMovie", "Actor", new { id = Model.ActorId }))
{
    <input class="btn btn-danger" type="submit" name="movie" value="Add Movie" />
}
}





